@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
}

body {
  background-color: #d9d9d9;
}

.center {
  margin: 0 auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
